@model MvcByAliAzavi.Models.ProductModel

@{
    ViewBag.Title = "Create";
}

<h1>New Product</h1>
<hr />
@using (Html.BeginForm("Create", "Products",
                FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">

    <div class="form-group">
      @Html.LabelFor(m => m.ProductName, new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ProductName,
                    new { @class = "form-control", @placeholder = "Enter product name" })
        @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.Price, new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.Price,
                    new { @class = "form-control", @placeholder = "Enter product price" })
        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.CategoryId, new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(m => m.CategoryId,
                    new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"),
                    "Choose Category", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.ImageUpload, new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ImageUpload, new { type = "file", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ImageUpload, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-success" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning" })
      </div>
    </div>
  </div>
}
<div>
</div>
@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}